body{
    background-color:#EEEEEE;
}


.body-container{
	 background-image: linear-gradient(to right, #A0C4E2, #5C9EAD);
    padding: 50px;
    margin-top:100px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    font-family:heiti sc;
    color:white;
     border:5px solid #326273;
}


.card{
  margin-top:50px;
  margin-bottom:50px;
  background-color:#326273 ;
  border:5px solid #283845;
  padding:15px;

}

.card-body{
    font-family:heiti sc;
    margin-top:10px;
    margin-bottom:10px;
}

details{
    margin:30px;
}

input{
    margin-bottom: 50px;
}

label{
    color:white;
}

hr {
    border-top: 1px dashed white;
}

h1{
    font-family: courier;
    color: white;
}

h3{
    font-family: courier;
    color: white;
}

h4{
    font-family: heiti sc;
    color: white;
}

button{
    margin-bottom:30px;
}

.footer {
    font-family: courier;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 4%;
}

.img-text{
    text-align:center;
    margin:20px;
}



